@model WebShare.Models.Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DetailPost";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    .slick-slide-item {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .slick-slide-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .slider-for,
    .slider-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider-nav {
        margin-top: 10px; /* Có thể điều chỉnh khoảng cách giữa ảnh dưới và slider nav */
    }

    .slick-slide-item img {
        border-radius: 10px; /* Thêm bo góc nếu bạn muốn */
    }
</style>

<div class="col-lg-9">
    <div class="central-meta">
        <h6 class="create-post">Slider Syncing</h6>
        <div class="slider-for">
            @foreach (var fileName in Model.Filename.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries))
            {
                <div class="slick-slide-item">
                    <img src="~/image/upload/@fileName.Trim()" class="img-fluid" alt="">
                </div>
            }
        </div>
        <div class="slider-nav">
            @foreach (var fileName in Model.Filename.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries))
            {
                <div class="slick-slide-item">
                    <img src="~/image/upload/@fileName.Trim()" class="img-fluid" alt="">
                </div>
            }
        </div>
    </div>
</div>
