@model WebShare.Models.BadContent

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Đang sửa nội dung xấu: @Model.Badcontent1</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Badcontent1" class="control-label">Tên nội dung xấu</label>
                <input asp-for="Badcontent1" class="form-control" />
                <span asp-validation-for="Badcontent1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

